.s-1  { width: 8.33333333%; }
.s-2  { width: 16.66666667%; }
.s-3  { width: 25%; }
.s-4  { width: 33.33333333%; }
.s-5  { width: 41.66666667%; }
.s-6  { width: 50%; }
.s-7  { width: 58.33333333%; }
.s-8  { width: 66.66666667%; }
.s-9  { width: 75%; }
.s-10 { width: 83.33333333%; }
.s-11 { width: 91.66666667%; }
.s-12 { width: 100%; }

.row {
  font-size: 0;
}

.col {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

/*@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: url("../fonts/roboto.woff2") format("woff2"),
  url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto Medium";
  font-style: normal;

  src: url("../fonts/robotomedium.woff2") format("woff2"),
  url("../fonts/robotomedium.woff") format("woff");
}*/

@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: local('Roboto Regular'), local('Roboto-Regular'),
    url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../fonts/roboto-medium-webfont.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-medium-webfont.woff') format('woff'),
    url('../fonts/roboto-medium-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-bold-webfont.woff') format('woff'),
    url('../fonts/roboto-bold-webfont.woff2') format('woff2');
}


@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/roboto-black-webfont.eot');
  src: local('Roboto Black'), local('Roboto-Black'),
    url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-black-webfont.woff') format('woff'),
    url('../fonts/roboto-black-webfont.woff2') format('woff2');
}

img {
  height: auto;
  vertical-align: bottom;
}

body {
  min-width: 900px;
  margin: 0;
  padding: 0;


  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: white;
  background-color: #9aafa3;
/*  background-image: url(../img/intro-ice-cream.png);
  background-repeat: no-repeat;
  background-position: 50% 70px;*/
}

input::-webkit-input-placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
input::-moz-placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
input:-ms-input-placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
input::placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}

textarea::-webkit-input-placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
textarea::-moz-placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
textarea:-ms-input-placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}
textarea::placeholder {
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*
.wrapper {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
  outline: 1px solid black;
}

@media (min-width: 900px) {
  .wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

*/



.page-header__content {
  width: 900px;
  margin: 0 auto;
  outline: 1px solid black;
}

@media (min-width: 900px) {
  .page-header__content {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .page-header__content {
    width: 1200px;
  }
}

.page-header__wrapper {
  padding: 0 2.3%;
}

.logo {
  width: 153px;
  height: 63px;
}

.page-header .logo {
  float: left;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
}

.main-nav {
  padding: 0;
  padding-top: 10px;
}

.main-nav__items {
  float: left;
  box-sizing: border-box;
  width: 400px;
  list-style: none;
  margin: 0;
  margin-top: 12px;
  margin-left: 16px;
  padding: 0;
  font-size: 0;
}

.main-nav__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
}

.main-nav__user-nav {
  float: right;
  width: 280px;
  margin-top: 13px;
  font-size: 0;
  text-align: right;
}

.main-nav__search {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url(../img/magnifier.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 17px 17px;
}

.main-nav__user-nav-item {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: white;
  position: relative;
  border-radius: 20px;
  margin-left: 10px;
  padding: 7px 16px 9px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.main-nav__user-nav-item::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav__user-nav-item--search {
  font-size: 0;
}

.main-nav__user-nav-item--search::after {
  left: 7px;
  width: 17px;
  height: 18px;
  background-image: url(../img/magnifier.svg);
  background-size: 17px 17px;
}

.main-nav__user-nav-item--login {
  padding-left: 44px;
}

.main-nav__user-nav-item--login::after {
  left: 16px;
  width: 20px;
  height: 20px;
  background-image: url(../img/login.svg);
  background-size: 20px 20px;
}

.main-nav__user-nav-item--basket {
  padding-left: 43px;
}

.main-nav__user-nav-item--basket::after {
  left: 16px;
  width: 20px;
  height: 20px;
  background-image: url(../img/basket.svg);
  background-size: 20px 20px;
}

.main-nav__user-nav-item--basket-full {
  background-color: #fff;
  color: #000;
}

.main-nav__user-nav-item--basket-full::after {
  background-image: url(../img/basket-black.svg),
  url(../img/basket-content.svg);
  background-repeat: no-repeat;
  background-position: 0 0, 5px 4px;
  background-size: 20px 20px, 14px 10px;
}

.call {
  float: right;
  box-sizing: border-box;
  width: 200px;
  text-align: right;
}

.call__call-time {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  font-family: 'Roboto Black', 'Arial', sans-serif;
  margin-top: -1px;
  margin-right: -1px;
}

.call__phone-number {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Roboto Black', 'Arial', sans-serif;
  margin-right: -2px;
}

.page-main {
  display: block;
  margin-top: -18px;
}

.page-main__content {
  width: 900px;
  margin: 0 auto;
  outline: 1px solid black;
}

@media (min-width: 900px) {
  .page-main__content {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .page-main__content {
    width: 1200px;
  }
}

.page-main__wrapper {
  padding: 0 2.3%;
}


.link {
  display: block;
  font-size: 16px;
  line-height: 17px;
  text-decoration: none;
  text-align: left;
  padding: 8px 13px;
  font-family: 'Roboto Bold', 'Arial', sans-serif;
}

.link span{
  display: block;
  position: relative;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link--black {
  text-align: left;
}

.link--black span{
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.link--current-page {
  background-color: #d07058;
  border-radius: 15px;
}

.link--current-page span {
  border-bottom: none;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.breadcrumb__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.breadcrumb__item .link{
  position: relative;
  font-family: 'Roboto Regular', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
  padding-right: 17px;
  margin: 0;
}

.breadcrumb__item .link::after {
  display: block;
  content: "»";
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 20px;
}

.breadcrumb__item:last-of-type span {
  border: none;
}

.breadcrumb__item:last-of-type .link::after {
 display: none;
}

.ice-cream-block {
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 25%;
  margin: 20px 0;
  padding: 0 1.1%;
}

.ice-cream-block__image-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

.ice-cream-block__view {
  display: block;
  position: relative;
}


.ice-cream-block__image {
  position: relative;
  width: 100.5%;
  height: auto;
  margin-bottom: -2px;
  margin-top: -2px;
}

.ice-cream-block__price {
  display: block;

  position: absolute;
  top: 77.7%;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.ice-cream-block__units {
  display: inline-block;
  position: relative;
  font-size: 30px;
  line-height: 45px;
  padding-left: 40px;
}

.ice-cream-block__units::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 31px;
  height: 36px;
  background-image: url(../img/icon-ruble.svg);
  top: 0;
  left: 0;
}

.ice-cream-block__units span {
  display: none;
}

.ice-cream-list {
  /*outline: 5px solid darkviolet;*/
  font-size: 0;
}

.ice-cream-list__wrapper {
  padding: 0 1.2%;
}

.pagination {
  font-size: 0;
  text-align: right;
}

.pagination__wrapper {
  padding: 0 2.3%;
}

.pagination__list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.pagination__item {
  display: inline-block;
  vertical-align: top;
}

.pagination__link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 10px;
}

.pagination__item--active .pagination__link {
  color: black;
  background-color: #fff;
  border-radius: 50%;
}

.pagination__item--prev span,
.pagination__item--next span {
  display: none;
}

.pagination__item--prev .pagination__link,
.pagination__item--next .pagination__link {
  display: block;
  position: relative;
  padding: 0;
  min-width: 25px;
  min-height: 28px;
  font-size: 0;
}

.pagination__item--prev .pagination__link::after,
.pagination__item--next .pagination__link::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: translateY(60%) rotate(45deg);
          transform: translateY(60%) rotate(45deg);
}

.pagination__item--prev .pagination__link::after {
  left: 0;
}

.pagination__item--next .pagination__link::after {
  right: 0;
  -webkit-transform: translateY(60%) rotate(225deg);
          transform: translateY(60%) rotate(225deg);
}

.pagination__item--disable .pagination__link::after {
  border-color: rgba(255, 255, 255, 0.2);
}











.page-footer {
  margin-top: 30px;
}

.page-footer__wrapper {
  margin: 0 2.3%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.social-links {
  margin-top: 10px;
  width: 177px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.social-links__btn {
  position: relative;
  box-sizing: border-box;
  font-size: 0;
  width: 37px;
  height: 37px;
  /*border: 3px solid rgba(255, 255, 255, 1);*/
  border-radius: 50%;
  //background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.8;
}

.social-links__btn--twitter {
  background-image: url(../img/social-tw.svg),
  url(../img/border.svg);
  background-size: 31px 31px, 36px 36px;
}

.social-links__btn--instagram {
  background-image: url(../img/social-inst.svg),
  url(../img/border.svg);
  background-size: 31px 31px, 36px 36px;
}

.social-links__btn--facebook {
  background-image: url(../img/social-fb.svg),
  url(../img/border.svg);
  background-size: 31px 31px, 36px 36px;
}

.social-links__btn--vk {
/*  background-image: url(../img/social-vk.svg),
  url(../img/border.svg);
  background-size: 31px 31px, 37px 37px;*/
 // background-image: url(../img/shadow.svg)
}

.social-links__btn:hover {
  opacity: 1;
}

.social-links__btn:active {
  color: #e9e9e9;
}

/*.social-links__btn::after {
  content: '';
  position: absolute;
  width: 38px;
  height: 38px;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
}
*/

.slider {
  margin-top: 300px;
}

.slider__slide {
  display: block;
  text-align: center;
}

.slider__slide-text {
  font-size: 60px;
  line-height: 60px;
}

.slider__switcher {
  outline: 1px solid black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62px;
  height: 16px;
}

.slider__switcher-label {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
}

.slider__switcher-label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider__switcher-label:active {
  background-color: white;
}


.slider__toggle {
  display: none;
}
.slider__switcher-input {
  display: none;
}

.slider__slide {
  display: none;
}

.slider__switcher-input--first:checked ~ .slider__switcher .slider__switcher-label--first {
  background-color: white;
}

.slider__switcher-input--first:checked ~ .slider__slide:nth-of-type(1) {
  display: block;
}

.slider__switcher-input--second:checked ~ .slider__switcher .slider__switcher-label--second {
  background-color: white;
}

.slider__switcher-input--second:checked ~ .slider__slide:nth-of-type(2) {
  display: block;
}

.slider__switcher-input--third:checked ~ .slider__switcher .slider__switcher-label--third {
  background-color: white;
}

.slider__switcher-input--third:checked ~ .slider__slide:nth-of-type(3) {
  display: block;
}

.page-main__content {
  width: 900px;
  margin: 0 auto;
  outline: 1px solid black;
}

@media (min-width: 900px) {
  .page-main__content {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .page-main__content {
    width: 1200px;
  }
}

.page-main__wrapper {
  padding: 0 2.3%;
}


.offer-block {
  font-size: 18px;
  line-height: 22px;
  outline: 1px solid black;
}

.offer-block__hidden-wrapper {
  overflow: hidden;
  border-radius: 15px;
}

.offer-block__wrapper {
  background-repeat: no-repeat;
  padding: 20px;
  font-size: 0;
  text-align: right;
}

.offer-block--raspberries .offer-block__wrapper {
  background-color: #792e3c;
  background-image: url(../img/bg-raspberries.jpg);
  background-position: 100% 0;
}

.offer-block--chocolate .offer-block__wrapper {
  background-color: #452e23;
  background-image: url(../img/bg-chocolate.jpg);
  background-position: 0 0;
}

.offer-block__title {
  margin: 0;
  font-size: 35px;
  line-height: 40px;
  text-align: left;
}

.offer-block__text {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.offer-block .button {
  display: inline-block;
  vertical-align: top;
}


.subscription,
.blog {
  font-size: 16px;
  line-height: 22px;
  outline: 1px solid black;
}

.button {
  display: inline-block;
  vertical-align: top;
  background: 0;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
  background: -webkit-linear-gradient(top, #f37b5b, #e74b36);
  background: linear-gradient(to bottom, #f37b5b, #e74b36);
  border-radius: 20px;
  box-shadow: 0px 2px 2px 0px rgba(172,16,0,0.64);
  cursor: pointer;
}


.features {
  color: black;
}

.features__wrapper {
  padding: 20px;
  border-radius: 15px;
  background-color: #ebdec7;
  background-image: url(../img/bg-wafer.gif);
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item{
  font-size: 16px;
  line-height: 22px;
}

.features__item:nth-of-type(2n-1) {
  padding-right: 1.1%;
}

.features__item:nth-of-type(2n) {
  padding-left: 1.1%;
}

.features__item-text {
  position: relative;
  padding-left: 60px;
  padding-top: 11px;
  margin-bottom: 15px;
}

.features__item-text p{
  margin: 0;
}

.features__item-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 47px;
  height: 47px;
  background-repeat: no-repeat;
  background-size: 47px 47px;
  background-position: 0 0;
}

.features__item--item1 .features__item-text::before {
  background-image: url(../img/ice-cream.svg);
}

.features__item--item2 .features__item-text::before {
  background-image: url(../img/cow.svg);
}

.features__item--item3 .features__item-text::before {
  background-image: url(../img/sheet.svg);
}

.features__item--item4 .features__item-text::before {
  background-image: url(../img/thermometer.svg);
}


.blog {
  margin: 20px 0;
  padding-right: 1.1%;
}

.blog__wrapper {
  padding: 20px;
  padding-right: 25%;
  border-radius: 15px;
  background-color: #fff;
  background-image: url(../img/bg-strawberry.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.blog__about {
  color: black;
  font-size: 16px;
  line-height: 22px;
}

.blog__post-link {
  display: block;
  color: black;
  font-size: 24px;
  line-height: 30px;
}

.blog__post-link span {
  display: block;
}


.subscription {
  margin: 20px 0;
  padding-left: 1.1%;

}

.subscription__wrapper {
  background-image: url(../img/bg-post.png);
  background-position: 100% 0;
  padding: 5px;
  border-radius: 15px;
}

.subscription__content {
  background-color: #f8f7f4;
  border-radius: 12px;
  padding: 20px;
}

.subscription__description {
  color: black;
  padding-top: 1px;
}

.subscription__form {
  padding: 10px 0;
/*  display: flex;
  justify-content: space-between;*/
}

.subscription__field {
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d3d3d2;
  padding: 10px;
}
/*.features__item:nth-of-type(2n-1) {
  padding-right: 1.1%;
}

.features__item:nth-of-type(2n) {
  padding-left: 1.1%;
}
*/





.filters-block{
  font-size: 0;
}

.filters-block__filter {
  display: inline-block;
  vertical-align: top;
  outline: 1px solid green;
}

.filters-block__filter-title {
  font-size: 14px;
  line-height: 16px;
}

.filters-block__choice-area {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  border-radius: 20px;
}

.filters-block__entry-fields {
  font-size: 0;
}

.filters-block__entry-field {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 18px;
  margin-right: 15px;
}

.filters-block__entry-field:last-of-type {
  margin-right: 0;
}

.filters-block__field--switch {
  display: none;
}

.filters-block__label--switch {
  position: relative;
  padding-left: 30px;
}

.filters-block__label--switch:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.filters-block__label--switch:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: none;
}

.filters-block__field--switch:checked + .filters-block__label::before {
  display: block;
}

.filters-block__label--checkbox:after {
  border-radius: 3px;
}

.filters-block__label--checkbox:before {
  border-radius: 0;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 4px;
  background-color: transparent;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filters-block__apply-btn {
  display: inline-block;
  vertical-align: bottom;
  background: 0;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 18px;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  border: 2px solid white;
}

.filters-block__choice-area--range {
  padding: 14px 20px;
}

.filters-block__field--select {
  border: none;
  background-color: transparent;
  outline: none;
  color: white;
  padding-bottom: 5px;
}

.filters-block__field--select option {
  color: black;
}

.filters-block__choice-area--sort {
  padding: 5px 15px 0 15px;
}

.filters-block__choice-area--sort:hover {
  background-color: #fff;
}

.filters-block__choice-area--sort:hover .filters-block__field--select {
  color: black;
}

.range-filter {
  position: relative;
  box-sizing: border-box;
  width: 190px;
}

.range-filter__scale {
  height: 4px;
  background: #d7dcde;
}

.range-filter__bar {
  position: absolute;
  width: 50%;
  height: 4px;
  top: 0;
  left: 17%;
  background: white;
}

.range-filter__toggle {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);

}

.range-filter__toggle--min {
  left: 15%;
}

.range-filter__toggle--max {
  left: 70%;
}

.page-footer__copyright-logo {
  display: block;
  width: 108px;
  height: 37px;
}

.page-footer__copyright-text {
  display: block;
  font-size: 12px;
  line-height: 16px;
}

.page-footer__copyright-text .link {
  display: inline-block;
  vertical-align: baseline;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
}

.page-footer {
  padding-bottom: 40px;
}



.popup {
  width: 100%;
  display: block;
}

.popup__wrapper {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .popup__wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .popup__wrapper {
    width: 1200px;
  }
}

.popup--basket,
.popup--login,
.popup--search,
.popup--catalog {
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
}

.popup--login {
  display: block;
  position: absolute;
  top: 55px;
  left: 0;
}

.popup--hidden {
  display: none;
}

.popup__content {
  margin: 0 2.3%;
  position: relative;
}

.popup__window {
  display: block;
  box-sizing: border-box;
  background-color: #f8f7f4;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
}

.popup__window--basket {
  position: absolute;
  top: 0;
  right: 0;
  width: 540px;
}

.popup__window--login {
  position: absolute;
  top: 0;
  right: 110px;
  width: 280px;
}

.popup__window--search {
  position: absolute;
  top: 0;
  right: 210px;
  width: 340px;
}

.popup__window--catalog {
  position: absolute;
  top: 0;
  left: 170px;
  width: 145px;
}

.popup__window--feedback {
  box-shadow: none;
  width: 475px;
  position: relative;
}

.basket-content__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #cacac7;
}

.basket-content__item {
  margin-bottom: 20px;
  font-size: 0;
}

.remove-btn {
  display: inline-block;
  vertical-align: top;
  background: 0;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  width: 10px;
  height: 10px;
  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  font-size: 0;
  margin-top: 10px;
  margin-right: 10px;
}


.basket-content__image-wrapper {
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.basket-content__name {
  display: inline-block;
  vertical-align: top;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  width: 220px;
  margin-right: 20px;
  margin-top: 7px;
}

.basket-content__price-details {
  display: inline-block;
  vertical-align: top;
  color: #000;
  font-size: 13px;
  line-height: 16px;
  width: 100px;
  margin-right: 20px;
  margin-top: 7px;
}

.basket-content__price-details span {
  color: rgba(0, 0, 0, 0.5);
}

.basket-content__item-price {
  display: inline-block;
  vertical-align: top;
  color: black;
  font-size: 13px;
  line-height: 16px;
  width: 60px;
  margin-top: 7px;
}

.basket-content__order {
  float: right;
  font-size: 0;
  width: 200px;
  text-align: right;
}

.basket-content__price {
  display: inline-block;
  vertical-align: top;
  width: 170px;
  color: black;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  margin: 10px 0;
}

.basket-content__order .button{
  display: inline-block;
  vertical-align: top;
}

.map {
  display: block;
  position: relative;
}

.contact-block {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 66%;
  right: 500px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  box-sizing: border-box;
  width: 300px;
  padding: 25px;
  color: black;
  background-color: #fff;
  border-radius: 5%;
}

@media (min-width: 900px) {
/*  .contact-block{
    transform: translate(16%, -50%);
  }*/
}

/*.contact-block__wrapper {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .contact-block__wrapper {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .contact-block__wrapper {
    width: 1200px;
  }
}

.contact-block__content {
  padding: 0 2.3%;
  position: relative;
}*/

.contact-block__content-block {

}

.contact-block__contact {
  display: block;
  margin-bottom: 20px;
}

.contact-block__title {
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.contact-block__address {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: black;
  text-decoration: none;
}

.contact-block__working-hours {
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.contact-block .button {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.login .link {
  font-size: 13px;
  line-height: 24px;
}

.login .button {
  float: left;
}

.login__link-wrapper {
  float: right;
}

.text-input-field {
  outline: none;
  font-family: 'Roboto Medium', 'Arial', sans-serif;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  opacity: 1;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;
  width: 100%;
}

.search .text-input-field {
  margin: 0;
}


.catalog-content {
  display: block;
  color: black;
}

.catalog-content__title {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.catalog-content__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-content__link {
  display: block;
  text-decoration: none;
  color: black;
}

.feedback {
  display: block;

}

.feedback__title {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 15px;
}

.feedback .text-input-field {
  display: block;
  width: 265px;
}

.feedback .text-input-field--textarea {
  display: block;
  width: 100%;
}

.feedback .remove-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: url(../img/cross-black.svg);
  background-size: 18px 18px;
}

.feedback .text-input-field {
  font-size: 16px;
  font-weight: 400;
}

.feedback input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback input::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback textarea::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.feedback textarea {
  overflow: hidden;
  resize: none;
  height: 150px;
}

.feedback .button {
  float: right;
}
